<mat-card class="card horizontal-center mt-5">
  <mat-card-title>Registrar</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="signupUser()">
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Nome Completo</mat-label>
        <input
          formControlName="name"
          matInput
          type="text"
          placeholder="Ex. Anderson Rodrigues"
        />
        <mat-error>Por favor informe um nome válido.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          matInput
          type="email"
          placeholder="Ex. andersonsouzar@edu.unisinos.br"
        />
        <mat-error>Por favor informe um email válido.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Senha</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hidePass ? 'password' : 'text'"
          placeholder="Ex. 123456"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePass = !hidePass"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePass"
        >
          <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>Por favor informe uma senha válida.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Confirme a senha</mat-label>
        <input
          formControlName="passwordConfirmation"
          matInput
          [type]="hideCpass ? 'password' : 'text'"
          placeholder="Ex. 123456"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideCpass = !hideCpass"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideCpass"
        >
          <mat-icon>{{ hideCpass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>Por favor informe a confirmação de senha</mat-error>
      </mat-form-field>
      <mat-error *ngIf="!passwordMatch"
        >As senhas não conferem</mat-error
      >
      <mat-checkbox formControlName="acceptTerms" color="primary"
        >Aceitar termos</mat-checkbox
      >

      <button
        style="display: block; margin-top: 10px"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        <mat-progress-spinner
          color="accent"
          mode="indeterminate"
          [diameter]="30"
        ></mat-progress-spinner>
        <span> Cadastrar </span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
